@page
@model myWebApp.Pages.Cart.BuySecondPageModel
@{
    ViewData["Title"] = "BuySecondPage";
}
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window, document, 'script', 'dataLayer','GTM-T8DXX6V');</script>
<!-- End Google Tag Manager -->
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8DXX6V"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result

<h1>Confirm your credit information.</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Your Credit information.</h5>

            <hr />
            <p><strong>First Name:</strong>  @Model.GivenOrder.FirstName <strong>Last Name:</strong>  @Model.GivenOrder.LastName</p>
            <p><strong>Address:</strong>  @Model.GivenOrder.Address <strong>Country:</strong>  @Model.GivenOrder.Country</p>
            <p><strong>Postal code:</strong>  @Model.GivenOrder.PostalCode</p>
            <p><strong>Email:</strong>  @Model.GivenOrder.Email <strong>Phone number:</strong>  @Model.GivenOrder.Phone</p>
            <p><strong>Card number:</strong>  @Model.GivenOrder.cardNumber <strong>Exp Date:</strong>  @Model.GivenOrder.experessionDate</p>
            <hr />

            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                    @foreach (var product in @Model.Carts)
                     {
                         <tr>
                             <td>@product.Product.Name</td>
                             <td>@product.Quantity</td>
                             <td>@Model.getprice(product)</td>
                         </tr>

                }
                    <tr>
                        <td>Total Price</td>
                        <td></td>
                        <td>@Model.FullPrice()</td>
                    </tr>

            </table>


            <button type="submit" class="btn btn-primary" asp-page="/Cart/BuyThirdPage">Confirm</button>
        </form>
    </div>
</div>
