@page
@model myWebApp.Pages.Cart.BuySecondPageModel
@{
    ViewData["Title"] = "BuySecondPage";
}

@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result

<h1>Confirm your credit information.</h1>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Your Credit information.</h5>

            <hr />
            <p><strong>First Name:</strong>  @Model.GivenOrder.FirstName <strong>Last Name:</strong>  @Model.GivenOrder.LastName</p>
            <p><strong>Address:</strong>  @Model.GivenOrder.Address <strong>Country:</strong>  @Model.GivenOrder.Country</p>
            <p><strong>Postal code:</strong>  @Model.GivenOrder.PostalCode</p>
            <p><strong>Email:</strong>  @Model.GivenOrder.Email <strong>Phone number:</strong>  @Model.GivenOrder.Phone</p>
            <p><strong>Card number:</strong>  @Model.GivenOrder.cardNumber <strong>Exp Date:</strong>  @Model.GivenOrder.experessionDate</p>
            <hr />

            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                    @foreach (var product in @Model.Carts)
                     {
                         <tr>
                             <td>@product.Product.Name</td>
                             <td>@product.Quantity</td>
                             <td>@Model.getprice(product)</td>
                         </tr>
                         
                }
                    <tr>
                        <td>Total Price</td>
                        <td></td>
                        <td>@Model.FullPrice()</td>
                    </tr>

            </table>
            

            <button type="submit" class="btn btn-primary" asp-page="/Cart/BuyThirdPage">Confirm</button>
        </form>
    </div>
</div>