@page
@model myWebApp.Pages.Cart.CartModel
@{
    ViewData["Title"] = "Cart";
}

@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result
<!-- Google Tag Manager -->
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer','GTM-T8DXX6V');</script>
<!-- End Google Tag Manager -->
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8DXX6V"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
<h1>Cart</h1>
<form method="post">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>increment amount</th>
            <th>decrement amount</th>
            <th>Remove</th>

        </tr>

        @foreach (var product in @Model.Carts)
        {
            <tr>
                <td>@product.Product.Name</td>
                <td>@product.Quantity</td>
                <td>@Model.getprice(product)</td>
                <td>
                    <button type="submit" class="btn btn-primary" asp-page-handler="Increase"
                            asp-route-id="@product.ProductId">
                        +
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" asp-page-handler="Decrease"
                            asp-route-id="@product.ProductId">
                        -
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-danger" asp-page-handler="Remove"
                            asp-route-id="@product.ProductId">
                        Delete
                    </button>
                </td>


            </tr>
        }
        <tr>
            <td>Total Price</td>
            <td></td>
            <td>@Model.FullPrice()</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>


    <br>

    <button type="submit" class="btn btn-primary" asp-page-handler=""
            asp-route-id="">
        Go To Takeout
    </button>
</form>