@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head names="Development">
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>

<div class="text-center">
    <p>Current server time: @DateTime.Now</p>
    <h3 class="display">Welcome to I4PRJ4 Group 3 Webstore</h3>
    <p>Hello</p>
</div>

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h5>List of Products in store</h5>
<hr/>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Price</th>

                <!--Deny access to edit and delete IF NOT ADmin or manager role-->
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <th>Edit</th>
                    <th>Delete</th>

                } else {
                    <th>Buy</th>
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Stock</td>
                <td>@product.Price</td>

                <!--Deny access to edit and delete IF NOT ADmin or manager role-->
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <td>
                        <a asp-page="/Product/Edit" class="link link-default" 
                            asp-route-id="@product.Id">Edit</a>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger" asp-page-handler="Delete" 
                            asp-route-id="@product.Id">Delete</button>
                        
                    </td>
                } else {
                    <td>
                        <button type="submit" class="btn btn-primary" asp-page-handler=""
                            asp-route-id="">Buy</button>
                        
                    </td>
                }
            </tr>
            }
        </tbody>
    </table id="table">
</form>
<hr/>

<h5>Shopping Cart</h5>
<tbody id="tableIncart">

</tbody>
<label id="totalPrice">Total price: 0</label>

<form method="">
    <button type="submit" class="btn btn-primary" asp-page-handler="">Buy</button>
</form>

<hr/>
<h7>@Configuration["Message"]</h7>
