@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head names="Development">
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>

<div class="text-center">
    <p>Current server time: @DateTime.Now</p>
    <h3 class="display">Welcome to I4PRJ4 Group 3 Webstore</h3>
    <p>Hello</p>
</div>

@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result

<!-- For usage of button to javascript.
<div>
    <button type="submit" class="btn btn-primary" onclick="showSearch('searchField')">Search</button>
</div>
-->

<h5>Search</h5>
<form method="post">
    <div id="searchField" class="input-group">
        <input type="text" class="form-control" name="SearchString"/>
        <span class="input-group-addon"></span>
        <button type="submit" class="btn btn-primary" asp-page-handler="Search" 
            asp-route-id="SearchString" class="form-control">Search</button>
    </div>
</form>
<br/>

<h5>List of Products in store</h5>
<hr/>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <!--Deny access to edit and delete IF NOT Admin or Manager role-->
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {   
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Edit</th>
                    <th>Delete</th>

                } else {
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Add to cart</th>
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
            <tr>
                <!--Deny access to edit and delete IF NOT Admin or Manager role and show product Id-->
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Stock</td>
                    <td>@product.Price</td>
                    <td>
                        <div class="form-group">
                            <!--Create 5 radio-button for ratiing-->
                            @if (Model.RatedYet(@product.Id))
                            {
                                <p>Overall rating: @Model.OverallRating(@product.Id)</p>
                                <hr />
                                <p>Ratings: @Model.NumberOfVotes(@product.Id)</p>
                            } else {
                                <p>Not rated.</p>
                            }
                        </div>
                    </td>
                    <td>
                        <a asp-page="/Product/Edit" class="link link-default" 
                            asp-route-id="@product.Id">Edit</a>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger" asp-page-handler="Delete" 
                            asp-route-id="@product.Id">Delete</button>
                        
                    </td>

                <!--LOGGED IN AS CUSTOMER-->
                } else if (User.IsInRole("Customer"))
                {
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Stock</td>
                    <td>@product.Price</td>
                   
                    <td>
                        <div class="form-group">
                            <!--Create 5 radio-button for ratiing-->
                            @if (Model.RatedYet(@product.Id))
                            {
                                <p>Overall rating: @Model.OverallRating(@product.Id)</p>
                                <hr />
                                <p>Ratings: @Model.NumberOfVotes(@product.Id)</p>

                                @if (!Model.UserHasRatedProduct(@product.Id))
                                {
                                    @for (int i = 1; i < 6; i++)
                                    {
                                        <input type="radio" name="rate" value="@i"/>
                                    }
                                    <!--Force button on next line-->
                                    <br />
                                    <button type="submit" class="btn btn-primary" asp-page-handler="Rate"
                                        asp-route-id="@product.Id" asp-route-id="rate" class="form-control">Rate</button>
                                    } 

                            } else {
                                <p>Be the first to rate this product.</p>
                                <hr />

                                @for (int i = 1; i < 6; i++)
                                {
                                    <input type="radio" name="rate" value="@i"/>
                                }
                                <!--Force button on next line-->
                                <br />
                                <button type="submit" class="btn btn-primary" asp-page-handler="Rate"
                                    asp-route-id="@product.Id" asp-route-id="rate" class="form-control">Rate</button>
                            }

                            
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" asp-page-handler=""
                            asp-route-id="">Add</button>
                    </td>

                <!--IF NOT LOGGED IN-->
                } else {
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Stock</td>
                    <td>@product.Price</td>

                    <td>
                        <div class="form-group">
                            <!--Create 5 radio-button for ratiing-->
                            @if (Model.RatedYet(@product.Id))
                            {
                                <p>Overall rating: @Model.OverallRating(@product.Id)</p>
                                <p>Ratings: @Model.NumberOfVotes(@product.Id)</p>
                                <hr />
                                <p><a asp-page="/Account/Login">Login</a> to rate.</p>
                            } else {
                                <p>Be the first to rate this product.</p>
                                <hr />
                                <p><a asp-page="/Account/Login">Login</a> to rate.</p>
                            }
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" asp-page-handler=""
                            asp-route-id="">Add</button>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table id="table">
</form>
<hr/>

<h5>Shopping Cart</h5>
<tbody id="tableIncart">

</tbody>
<label id="totalPrice">Total price: 0</label>

<form method="">
    <button type="submit" class="btn btn-primary" asp-page-handler="">Buy</button>
</form>

<hr/>
<h7>@Configuration["Message"]</h7>
